.calculator_wrapper {
  width: 400px;
  background-color: #000;
  margin: 0 auto;
  font-size: 31px;
}

#input {
  background-color: transparent;
  color: #fff;
  margin-top: 92px;
  margin-bottom: 17px;
  font-size: 85px;
  width: 380px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 11px;
  padding: 0px 17px 14px 19px;
  place-items: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: #FFFFFF;
  width: 75px;
  height: 75px;
  border-radius: 50px;
}

.grey-btn {
  background-color: #A5A5A5;
  color: #111111;
}

.Arithmetic {
  background-color: #FE9E0B;
  color: #fff;
}

.zero {
  width: 170px;
  grid-column: span 2;
  padding-left: 37px;
  justify-content: start;
}