.calculator_wrapper {
  width: 400px;
  background-color: #000;
  margin: 0 auto;
  font-size: 31px;
  padding: 0px 19px 16px 21px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: #FFFFFF;
  width: 75px;
  height: 75px;
  border-radius: 50px;
}

.grey-btn {
  background-color: #A5A5A5;
  color: #111111;
}

.Arithmetic {
  background-color: #FE9E0B;
  color: #fff;
}