.calculator_wrapper {
  width: 400px;
  background-color: #000;
  margin: 0 auto;
  font-size: 31px;
}

#output {
  background-color: transparent;
  color: #fff;
  padding-top: 92px;
  margin-bottom: 17px;
  font-size: 85px;
  width: 380px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 명시적 열(Track)의 크기를 정의 */
  row-gap: 11px;
  padding: 0px 17px 14px 19px;
  place-items: center; /* align-items와 justify-items의 단축 속성 */
}

input, .grey-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: #FFFFFF;
  width: 75px;
  height: 75px;
  border-radius: 50px;
}

input:hover {
  cursor: pointer;
  background-color: #737373;
  transition: background-color 0.5s;
}

.grey-btn {
  background-color: #A5A5A5;
  color: #111111;
  &:hover {
    background-color: rgb(199, 191, 191);
  }
}

.operator {
  background-color: #FE9E0B;
  color: #fff;
  &:hover {
    background-color: #f3b75d;
  }
}

.zero {
  width: 170px;
  grid-column: span 2;
  padding-left: 37px;
  justify-content: start;
}